[Unit]
Description=Run services using ephemeral disk
After=ephemeral-disk.service ephemeral-data.mount
Requires=ephemeral-disk.service ephemeral-data.mount
# TODO: list the units using the ephemeral storage that should be started
# after mounting the storage
Before=
ConditionPathIsMountPoint=/ephemeral/data

[Install]
WantedBy=local-fs.target
RequiredBy=ephemeral-disk.service ephemeral-data.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=/bin/true
