[Unit]
Description=Run services using ephemeral disk
Requires=ephemeral-disk.service ephemeral-data.mount # ADD YOUR DEPENDENCIES HERE
After=ephemeral-disk.service ephemeral-data.mount
Before=# ADD YOUR DEPENDENCIES HERE
ConditionPathIsMountPoint=/ephemeral/data

[Install]
RequiredBy=# ADD YOUR DEPENDENCIES HERE

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=/bin/true
