# ephemeral disk device
DISK=/dev/xvdb

# enable swap
SWAP=1

# VG name *** DON'T CHANGE THIS SETTING ***
VG_NAME=ephemeral

# LV name of swap *** DON'T CHANGE THIS SETTING ***
LV_SWAP=swap

# LV size of data
LV_SWAP_SIZE="1024M"

# LV name of data *** DON'T CHANGE THIS SETTING ***
LV_DATA=data

# LV size of data
LV_DATA_SIZE=90%FREE

# filesystem type
MOUNT_FSTYPE=ext4

# mount options
MOUNT_OPTIONS="defaults,noatime,nodev,nosuid"

# mountpoint *** DON'T CHANGE THIS SETTING ***
MOUNT_PATH=/ephemeral/data

# destroy on stop
DESTROY_ON_STOP=0
