[Unit]
Description=Setup ephemeral disk
Requires=ephemeral-data.mount ephemeral-units.service
Before=ephemeral-data.mount ephemeral-units.service
ConditionPathIsMountPoint=!/ephemeral/data

[Install]
WantedBy=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/ephemeral-scripts/ephemeral-disk_start
TimeoutStartSec=300
ExecStop=/etc/ephemeral-scripts/ephemeral-disk_stop
