[Unit]
Description=Mount ephemeral data partition
Requires=ephemeral-disk.service ephemeral-units.service
Before=ephemeral-units.service
After=ephemeral-disk.service

[Install]
WantedBy=local-fs.target
RequiredBy=ephemeral-units.service

[Mount]
EnvironmentFile=/etc/default/ephemeral-disk
What=/dev/mapper/ephemeral-data
Type=${MOUNT_FSTYPE}
Options=${MOUNT_OPTIONS}
