[Unit]
Description=Run services using ephemeral disk
# ADD YOUR DEPENDENCIES HERE
After=ephemeral-disk.service ephemeral-data.mount
Requires=ephemeral-disk.service ephemeral-data.mount
# ADD YOUR DEPENDENCIES HERE
Before=
ConditionPathIsMountPoint=/ephemeral/data

[Install]
WantedBy=local-fs.target
# ADD YOUR DEPENDENCIES HERE
RequiredBy=ephemeral-disk.service ephemeral-data.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=/bin/true
